
<div class="container">

  <p-table [tableStyle]="{'table-layout':'auto'}" [value]="bars" [paginator]="true" [rows]="25" sortmode>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>State</th>
        <th>Zip</th>
        <th>Website</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
      <tr>
        <td>
          <a routerLink="/bars/{{ bar.phone }}">
            {{ bar.name }}
          </a>
        </td>
        <td>{{ bar.phone }}</td>
        <td>{{ bar.address }}</td>
        <td>{{ bar.state }}</td>
        <td>{{ bar.zip }}</td>
        <td>
          <a href="http://www.{{ bar.site }}">
            {{ bar.site }}
          </a>
        </td>

      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
  <br>
</div>