<div class="container">

    <p-table [value] = "drinkers" [tableStyle]="{'table-layout':'auto'}" [paginator]="true" [rows]="25">
      <ng-template pTemplate = "header">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
      </ng-template>
      <ng-template pTemplate = "body" let-drinker>
          <tr>
              <td>
                <a routerLink = "/drinkers/{{ drinker.phone }}">
                  {{ drinker.name }}
                </a>
              </td>
              <td>{{ drinker.phone }}</td>
              <td>{{ drinker.address }}</td>
              <td>{{ drinker.state }}</td>
              <td>{{ drinker.zip }}</td>
            </tr> 
      </ng-template>
    </p-table>
    <br>
    <br>
    <br>
  </div>