<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4" align="center">{{ drinkerDetails.name }}</h1>
    <p text="light" class="drinker-details" *ngIf="drinkerDetails" align="center">
      {{ drinkerDetails ?.address }} | {{ drinkerDetails ?.state }} {{ drinkerDetails ?.zip }}
      <br> {{ drinkerDetails ?.phone }}

    </p>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
<br>
  <div id = "topBeersOrdered"></div>
</div>
<br>
<br>
<br>

<div class="container">
<br>
  <div id = "topBarsSpent"></div>
</div>
<br>
<br>
<br>
<br>
<h3 align="center">Favorite Bars</h3>
<br>
<div class="container">
  <p-table [value]="frequentedBars">
    <ng-template pTemplate="body" let-favbar>
      <tr>
        <td align="center">
          <a routerLink="/bars/{{ favbar.bar_phone }}">
            {{ favbar.bar_name }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<br>
<br>
<br>
<br>

<h3 align="center">Favorite Beers</h3>
<br>
<div class="container">
  <p-table [value]="likedBeers">
    <ng-template pTemplate="body" let-likedbeer>
      <tr>
        <td align="center">
          <a routerLink="/beers/{{ likedbeer.beer_name }}">
            {{ likedbeer.beer_name }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<br>
<br>
<br>
<h3 align="center">Transactions</h3>
<br>
<div class="container">
  <p-table [value]="drinkerTransactions" [tableStyle]="{'table-layout':'auto'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Bar Name</th>
        <th>Bar Phone</th>
        <th>Date</th>
        <th>Time</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>
          <a routerLink="/bars/{{ transaction.bar_phone }}">
            {{ transaction.bar_name }}
          </a>
        </td>
        <td>
          {{ transaction.bar_phone }}

        </td>
        <td>{{ transaction.date}}</td>
        <td>{{ transaction.time}}</td>
        <td>{{ transaction.item_name}}</td>
        <td>{{ transaction.item_price | currency }}</td>

      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
  <br>
</div>