<div class="container">

  <div class="jumbotron jumbotron-fluid">

    <h1 class="display-4" align="center">{{ barDetails.name }}</h1>
    <p text="light" class="bar-details" *ngIf="barDetails" align="center">
      {{ barDetails ?.address }} | {{ barDetails ?.state }} {{ barDetails ?.zip }}
      <br> {{ barDetails ?.phone }}
      <br>
      <a href="http://www.{{ barDetails ?.site }}">
        <h5>{{ barDetails ?.site }}</h5>
      </a>
    </p>
  </div>

  <br>
  <br>
  <br>
  <div class="container">
    <br>
    <div id="topDrinkers"></div>
  </div>
  <br>
  <br>
  <br>

  <div class="container">
    <br>
    <div id="topBeers"></div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <br>
    <div id="topManufacturers"></div>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<h3 align="center">Beer Menu</h3>
<br>
<div class="container">
  <p-table [value]="beerMenu">
    <ng-template pTemplate="header">
      <tr>
        <th>Beer</th>
        <th>Price</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <a routerLink="/beers/{{ item.item_name }}">
            {{ item.item_name }}
          </a>
        </td>
        <td>{{ item.price|currency }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<br>
<br>
<br>


<h3 align="center">Food Menu</h3>
<br>
<div class="container">
  <p-table [value]="foodMenu">
    <ng-template pTemplate="header">
      <tr>
        <th>Food</th>
        <th>Price</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.item_name }}</td>
        <td>$ {{ item.price }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
<br>
<br>
<br>
<br>


<h3 align="center">Frequent Drinkers</h3>
<br>
<div class="container">
  <p-table [value]="frequentDrinkers">
    <ng-template pTemplate="body" let-freqdrinker>
      <tr>
        <td align="center">
          <a routerLink="/drinkers/{{ freqdrinker.drinker_phone }}">
            {{ freqdrinker.drinker_name }}
          </a>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>