@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
    margin-top: 50px;
    width: 50%;
    position: absolute;
    left: 48%;
    transform: translate(-50%, -50%);
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: rgb(0, 128, 145);
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
    margin-top: 50px;
    left: 40%;
position: absolute;
  width: 80px;
  height: 40px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

