<div class="search">
  <br>
  <br>
  <br>

  <br>
  <input type="text" class="searchTerm" id="num1" [(ngModel)]="val" placeholder="Enter your query here...">
  <button type="submit" (click)="submit()" class="searchButton" value="search">Submit
  </button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <p-table [value]="returnval" [tableStyle]="{'table-layout':'auto'}" [paginator]="true" [rows]="25">
    <ng-template pTemplate="header">
      <tr>
        <th>{{var1}}</th>
        <th>{{var2}}</th>
        <th>{{var3}}</th>
        <th>{{var4}}</th>
        <th>{{var5}}</th>
        <th>{{var6}}</th>
        <th>{{var7}}</th>
        <th>{{var8}}</th>
        <th>{{var9}}</th>
        <th>{{var10}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-returnval>
      <tr>
        <td>{{ returnval[var1] }}</td>
        <td>{{ returnval[var2] }}</td>
        <td>{{ returnval[var3] }}</td>
        <td>{{ returnval[var4] }}</td>
        <td>{{ returnval[var5] }}</td>
        <td>{{ returnval[var6] }}</td>
        <td>{{ returnval[var7] }}</td>
        <td>{{ returnval[var8] }}</td>
        <td>{{ returnval[var9] }}</td>
        <td>{{ returnval[var10] }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>