<div class="container">



<!--  <div class = "container" align = "center">
   <p-dropdown>

   </p-dropdown *ngIf="manufacturerOptions" [ngClass]="no-option-selected":selectedManufacturer === undefined || selectedManufacturer === null
   placeholder = "Filter by Manufacturer" [options]="manufacturerOptions" [(ngModel)]="selectedManufacturer" showClear = "true"
   (onChange) = "filterBeers ">
 </div> -->

  <p-table [value]="beers" [tableStyle]="{'table-layout':'auto'}" [paginator]="true" [rows]="25">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Calories</th>
        <th>Alcohol Content</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beer>
      <tr>
        <td>
          <a routerLink="/beers/{{ beer.name }}">
            {{ beer.name }}
          </a>
        </td>
        <td>{{ beer.manufacturer }}</td>
        <td>{{ beer.calories }}</td>
        <td>{{ beer.alcohol_content }}%</td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
  <br>
</div>