<button (click)="showModal()" >Open Popup</button>

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Title</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Col1</th>
                        <th>Col2</th>
                    </tr>
                    <tr>
                        <td>val 1</td>
                        <td>val 1</td>
                    </tr>
                    <tr>
                        <td>val 2</td>
                        <td>val 2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>