<div class="container">

  <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4" align="center">{{ beerName }}</h1>
  <p text="light" class="beer-details" *ngIf="beerDetails" align="center">
    <i>- {{ beerDetails ?.manufacturer }} </i>
    <br>
    <br> Alcohol Content: {{ beerDetails ?.alcohol_content }}%
    <br> Calories: {{ beerDetails ?.calories }}
    <br>
  </p>
</div>
</div>

<br>
<br>
<br>
<div class="container">
<br>
  <div id = "topBeerSellers"></div>
</div>
<br>
<br>
<br>

<div class="container">
<br>
  <div id = "topBeerBuyers"></div>
</div>
<br>
<br>
<br>
<h3 align = "center">Sold at these locations</h3>

<br>
<div class="container">
  <p-table [value]="beerLocations" [tableStyle]="{'table-layout':'auto'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Bar Name</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beerLocations>
      <tr>
        <td>
          <a routerLink="/bars/{{ beerLocations.bar_phone }}">
            {{ beerLocations.bar_name }}
          </a>
        </td>
        <td>{{ beerLocations.price | currency }}</td>

      </tr>
    </ng-template>
  </p-table>
  <br>
  <br>
  <br>
</div>
<h3 align = "center">Liked By</h3>
  <br>
  <div class="container">
      <p-table [value]="beerLikers">
        <ng-template pTemplate="body"let-likers >
          <tr>
            <td align = "center">
                <a routerLink="/drinkers/{{ likers.drinker_phone }}">
                  {{ likers.drinker_name }}
                </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br>
    <br>
    <br>
    <br>
 