/* active (faded) */
.nav-pills .Bar .nav-link:not(.active){
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 5px
}

.nav-pills .Beer .nav-link:not(.active){
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 5px

}

.nav-pills .Drinker .nav-link:not(.active) {
    background-color:rgb(100, 100, 100);
    color: white;
    padding: 5px

}

.nav-pills .Database .nav-link:not(.active) {
    background-color:rgb(100, 100, 100);
    color: white;
    padding: 5px

}

/* active (faded) */
.nav-pills .Bar .nav-link {
    background-color:  rgb(199, 199, 199);
    color: black;
    padding: 5px

}

.nav-pills .Beer .nav-link {
    background-color: rgb(199, 199, 199);
    text-align: black;
    padding: 5px

}

.nav-pills .Drinker .nav-link {
    background-color: rgb(199, 199, 199);
    color: black;
    padding: 5px

}

.nav-pills .Database .nav-link {
    background-color: rgb(199, 199, 199);
    color: black;
    padding: 5px

}