<br>
<div class="container">
  <ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item Bar" routerLinkActive="active">
      <a class="nav-item nav-link flex-sm-fill text-sm-center active"  data-toggle="tab" href="#tab1" routerLink="/bars">Bars</a>
    </li>
    <li class="nav-item Beer" routerLinkActive="active">
      <a class="nav-item nav-link flex-sm-fill text-sm-center"  data-toggle="tab" href="#tab2" routerLink="/beers">Beers</a>
    </li>
    <li class="nav-item Drinker" routerLinkActive="active">
      <a class="nav-item nav-link flex-sm-fill text-sm-center"  data-toggle="tab" href="#tab3" routerLink="/drinkers">Drinkers</a>
    </li>
    <li class="nav-item Database" routerLinkActive="active">
      <a class="nav-item nav-link flex-sm-fill text-sm-center"  data-toggle="tab" href="#tab3" routerLink="/database">Database</a>
    </li>
  </ul>
</div>
<br>
  <br>
<br>

<router-outlet></router-outlet>